#app_header{
   height: 50px;
}

.header_logo{
    height: 50px;
}

.header_burger{
    height: 50px;
}

.demo{
    height: 100PX;
}
.strategic{
    height: 100PX;
}
.expert_partners{
    height: 100PX;
}
.benefits{
    height: 100PX;
}
.about_us{
    height: 100PX;
}
.call_to_actions{
    height: 100PX;
}