 *{
 margin:0;
 padding:0;
 box-sizing:border-box;
 border: 1px dashed black;
}

/* #region Header*/

#app_header{
    width: 100%;
    background-color: blue;
    display: flex;
}

.header_logo{
    width: 50%;
}

.header_burger{
    width: 50%;
}

/* #endregion Header*/
/* #region */

.demo{
    width: 100%;
}
.strategic{
    width: 100%;
}
.expert_partners{
    width: 100%;
}
.benefits{
    width: 100%;
}
.about_us{
    width: 100%;
}
.call_to_actions{
    width: 100%;
}

/* #endregion */