 *{
 margin:0;
 padding:0;
 box-sizing:border-box;
 border: 1px dashed black;
 font-family: 'PT Sans', sans-serif;
 font-size:  15px ;
}

img{
    max-width:100%
}

:root{
    --first-:#9792E4;
    --second-:#0084fd;
    --call-to-action-:#FDC15F;
    --light-second-:#B5DDFF;
    --footer-:#333333;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div[class^="col_"]{
    border-radius: 25px;
    margin: 0.5rem 0;
    padding: 0.5rem;
}

/* #region utility*/

.d_f_w{
    display: flex;
    flex-wrap: wrap;
}

.bg_first{
    background-color: #9792E4;
}

.bg_ligth-second{
    background-color: #B5DDFF;
}

.bg_white{
    background-color:white;
}

.w_50{
    width: 50%;
}

.secondary_color_text{
    color: #0084fd;
}

.m_b_1rem{
    margin-bottom: 1rem ;
}

.m_b_2rem{
    margin-bottom: 2rem ;
}

.col_4{
    width: calc((100%/12)*4);
}

.col_6{
    width: calc((100%/12)*6);
}

.col_8{
    width: calc((100%/12)*8);
}

.col_12{
    width: calc((100%/12)*12);
}

/* #endregion utility*/

/* #region Header*/

#app_header{
    width: 100%;
    background-color: #0084fd;
    display: flex;
    justify-content: space-around;
}

.container_small_header{
    width: 100%;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
   
}
.header_logo{
    width: 60px;
}

.header_burger{
    font-size: 25px;
}

.header_nav{
    display: none; 
}

.header_nav>a{
     color: white;
     text-decoration: none;
}


/* #endregion Header*/
/* #region Main */

#app_main{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.container_large{
    width: 100%;
    background-color: #9792E4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container_small{
    width: 100%;
    padding: 1rem;
}

.demo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.app_store_btn{
    background-color: white;
    border-radius: 50px;
    padding: 0.5rem;
}

.strategic{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #9792E4;
}

.expert_partners{
    width: 100%;
}
.benefits{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #9792E4;
}
.about_us{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.call_to_action{
    width: 100%;
    background: #9792E4;
    text-align: center;
}

.call_to_action_btn{
    color: #FDC15F;
}

/* #endregion Main */

/* #region Footer*/

#app_footer{
    background-color: black;
    width: 100%;
    text-align: center;
}

/* #endregion Footer*/

/* #region media_480*/

@media screen and (min-width:481px) {
    .col_4{
        width: calc((98%/12)*4);
    }
    
    .col_8{
        width: calc((98%/12)*8);
    } 

    .col_6{
        width: calc((98%/12)*6);
    }

    .d_f_w{
       flex-wrap: initial;
    }

    .header_burger{
        display: none;
    }
    
    .header_nav{
        display: inline-block;
    }
}

/* #endregion media_480*/

/* #region media_768*/

@media screen and (min-width:769px) {
    
.container_small{
    width: 768px;
}

.container_small_header{
   width: 768px;
}

}
/* #endregion media_768*/